@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html
{
    font-family: 'Poppins', sans-serif;
    color: black;
    background: -webkit-linear-gradient(left, #807c77, #FFD166);   
}
/*
.wrapper1{  
    
    width: 100%;
    background: #ffffff;
   
    padding: 5px;
       
}
.wrapper2{  
   
    width: 100%;
    margin: auto;
    
    background: #ffffff;
  
    padding: 5px;
      
}
*/
nav{
    background: #1D3557;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5p
}

nav ul li a{
    color: #ffffff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #A8DADC;
    transition: .5s;
}
label.logo a, label.logo a:visited{
    color: #FFD166;
}
label.logo a:hover{
    color: #FFD166;
    background: none;
    font-size:110%;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height:  80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

input.b1[type="button"], input.b1[type=submit]{
    background-color: white;
    color:#1D3557;
    font-weight: bold;
    padding: 5px 7px;
    font-weight: bold;
    border-color: #4abea9;
    border: none;
    text-transform: uppercase;

}
input.b1[type="button"]:hover, input.b1[type=submit]:hover{
    background-color: #FFD166;
    
}
button.b1[type="button"], button.b1[type=submit]{
    background-color: white;
    color:#1D3557;
    font-weight: bold;
    padding: 5px 7px;
    font-weight: bold;
    /*border-color: #4abea9;*/
    border: none;
    text-transform: uppercase;

}
button.b1[type="button"]:hover, button.b1[type=submit]:hover{
    background-color: #FFD166;
}
  

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
input.b2[type="button"]{
    background-color: #1D3557;
    padding: 5px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
input.b2[type="submit"]{
    background-color: #1D3557;
    padding: 5px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
input.b2[type="submit"]:hover{
    background-color: #FFD166;
    color:#1D3557;
    font-weight: bold;
}*/
img{
    max-width: 300px;
    height: auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}
ul.class li{
    padding-block: 5px;
}
table{
    margin-left: center;
    
}
table, th, td, tr{
    border: 2px solid;
  
    border-collapse: collapse;
    padding: 5px;
}
td{
    text-align: center;
}
tr:hover{
    background-color: #1D3557;
}

/* This Dashboard Style */
.d-container{
    z-index: 0;
}
.card-list .card-item{
    color: #fff;
    width: 400px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .user-profession{
    font-size: 1.15rem;
    color: white;
    font-weight: 500;
    margin: 14px 0 40px;
}
.card-list .card-item .message-button{
    font-size: 1.1rem;
    padding: 10px, 35px;
    color: #1D3557;
    border-radius: 6px;
    font-weight: 200;
    cursor: pointer;
    background: #fff;
    border: 5px solid transparent;
    transition: 0.2s ease;
}
.card-list .card-item .message-button:hover{
    background: #1D3557;
    border: 5px transparent #fff;
    color: #fff;
}
/*@media (max-width: 1200px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}*/
@media (max-width: 1100px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #A8DADC;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 999;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:rgb(255, 174, 0);
    }
    #check:checked ~ ul{
        left: 0;
    }
    header{
        min-width: 400px;
    }

}
/*
section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
    */
